---
layout: default
title: About
section_id: about
testimonials:
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
  - quote: Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
    author: David White, Designer at Huglab
  - quote: Reprehenderit eos et non et ut eum reprehenderit quis sequi quia vel repellendus id. Velit quit blanditiis dolor quam error eos dolores sequi eaque rerum est.
    author: David White, Designer at Huglab
---

<div class='full parallax' style='background-image: url(images/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="WORKSHOP / RGA • PDX" color="#fff" tagline="Our team and our history" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Our history</h3>
      <p>As an instructor it is a pleasure to observe and partake in your students growth and development. Teaching someone to appreciate, cherish, and excel in their chosen discipline is something that the teachers here at Renzo Gracie Portland take pride in.</p>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/aaron-main.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Aaron Milam Head Instructor</h3>
      <h4>Second Degree Jiu Jitsu Black Belt</h4>
      <p>Aaron Milam, moved to Portland in May 2013 for the specific purpose of opening the city’s best facility for Brazilian Jiu Jitsu. Originally from Los Angeles and having run the Brazilian Jiu Jitsu program at NYC’s multi-discipline combat sports gym Workshop for 8 years, he decided it was time to get back to the West Coast and create the same community and performance facility that he’d become accustomed to.

      Having wrestled, practiced traditional boxing and Muay Thai throughout childhood and college, Aaron began training under Carlson Gracie black belt Rey Diogo in 2000, under whom he earned his purple belt. Upon moving to New York in 2006, he began training under John Danaher (Renzo Gracie). In February 2008 Aaron was awarded his black belt by both John Danaher (Renzo Gracie) and Rey Diogo (Carlson Gracie). Aaron also holds a brown belt in Judo under Roy Kawaji.  During his years of training he has competed in Brazilian Jiu Jitsu, Judo, and submission grappling, regionally and internationally.

      Aaron holds a Bachelors and Masters degree in philosophy.</p>
    </div>
    <div class='medium-6 columns'>
      <h3>Some Needed Here</h3>
      <p>
    </div>
  </div>
</div>


<div class='full'>
  <div class='row'>
    {% for member in site.data.members-minus %}
      <div class='small medium-4 large-4 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
              </div>
            </div>
          </div>
          <p class='centered-text'>{{member.desc}}</p>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>


<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our clients say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-customers.html %}
