---
layout: default
title: BJJ 101
section_id: bjj-101
testimonials:
  - quote: Aaron's pedagogical approach is effective across the full spectrum of training experience and natural ability
    author: name 1
  - quote: word
    author: name 2
  - quote: words
    author: name 3

examples:
  - desc: Introduction to the Renzo Gracie Portland Instructors and Coaches.
  - desc: Appropriate etiquette and conduct stepping on to the mats
  - desc: Definition of the Art – “A science of control leading to submission”
  - desc: Consideration of Martial Art vs. Sport vs. Self Defense
  - desc: Philosophy of the Renzo Gracie Academy program
  - desc: Explication of Jiu Jitsu as a positional art
  - desc: Fundamental Movements – body mechanics, rolls, falls, warm ups
  - desc: Safe Training Methodology
  - desc: Basic Technique- Closed Guard
---


<div class='full parallax' style='background-image: url(images/about-us.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="JIU JITSU 101" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>BJJ 101 IS YOUR ENTRY POINT TO BRAZILIAN JIU-JITSU</h3>
      <p>We begin a new 101 class every month. next two start dates are:</P>

        <P>Tuesday Dec 6th at 5pm. (class meets Tuesdays and Thursdays at 5pm and Sat at 11 am)</P>

        <P>January class TBA at 6pm (class meets Mondays and Wednesdays at 6pm and Sat at 11 am)</P>

        <P>send us an email or register here.</P>

        <P>You’ve never trained Brazilian Jiu-Jitsu before – or maybe it’s been a while – and you feel like you need to start from the top, the very top; That’s exactly where BJJ 101 gets going. BJJ 101 is the gateway to learning your way around the mats, learning a little self-defense in the process and building a real appreciation for a discipline that has captivated the attention of casual practitioners and professional mixed martial artists alike.</p>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinright" alt="" src="images/about-1.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>SO WHO SHOULD TAKE BJJ 101?</h3>
      <ul>
      <li>Anyone new or returning to the sport. BJJ 101 is a crash course (or a refresher) for the curious and the brave.</li>
      <li>Anyone interested in learning the best way to practically defend yourself. Familiarize yourself with the discipline which has revolutionized martial arts in America and across the world.</li>
      <li>Anyone looking to lose weight and become more fit. Brazilian Jiu-Jitsu yields profound improvements in cardiovascular conditioning, physical endurance, strength and muscle tone in a remarkably short period of time.</li>
      <li>Anyone searching for a new activity that will enhance the quality of your life. Don’t take our word for it, ask somebody at the gym. Or, take a look at some of the tesimonials from everyday people who took the first step.</li>
    </ul>
    </div>

    <div class='medium-6 columns'>
      <img class="fadeinright" alt="" src="images/aaron-main.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
</div>


<div class='full parallax' style='background-image: url(images/@stock/milestone-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="BJJ 101 IS AN INTRODUCTORY PROGRAM DESIGNED TO GIVE YOU A STRONG PHYSICAL AND CONCEPTUAL FOUNDATION TO BEGIN YOUR TRAINING IN THE MARTIAL ARTS" color="#fff" %}
    </div>
  </div>
  <div class='two spacing'></div>
</div>



<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="BJJ 101 IS AN EIGHT WEEK COURSE CONSISTING OF 24 CLASSES" %}
      <div class='spacing'></div>
      <p>
        Coursework in this introduction classes covers philosophical and conceptual distinctions, terminology, etiquette, dress and the fundamental positions of Brazilian Jiu-Jitsu. More specifically, you’ll learn to tie your belt, how to train safely with your partner, a little bit of history about the art and some of the very basics of grappling. Perhaps even more importantly, you’ll meet your instructors and coaches as well as your training partners. Learn, their names – It’s not the last class you’ll share together!
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/@stock/responsive.png" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      <h3>EXAMPLE SYLLABUS (DAY ONE):</h3>
      <p>On day one all new students should arrive at least 15 minutes prior to class beginning. If you already own an appropriately fitting Gi (a Brazilian Jiu-Jitsu training kimono not unlike a Judo uniform) feel free to bring it with you. Otherwise, come dressed in a comfortable t-shirt and athletic shorts. Upon arrival a new student will be shown the appropriate dressing room and will be instructed as to which mat the first class will take place on.</p>

      <h3>COURSEWORK INCLUDES</h3>
      {% for example in page.examples %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <p>{{example.desc}}</p>
          </div>
        </div>
      {% endfor %}
      <div class='two spacing'></div>

      <h3>SUBSEQUENT COURSE MATERIAL</h3>
      <p>Each BJJ 101 course session is unique and builds upon the previous coursework already taught. You’ll want to make sure you start at the first class in the series. If however you are unable to attend a class, BJJ 101 is repeatable as many times as you would like – There’s no limit. Many students find that the taking the course more that once is a valuable experience and helps fortify important fundamental concepts and positions in their Brazilian Jiu-Jitsu journey.</p>

      <p>Students should expect to complete the BJJ 101 course with a healthy grasp of a variety of topics including elementary self-defense, positional escapes, and positional transitions as well as a handful of low-impact throws/takedowns.</p>
    </div>
  </div>
  <div class='spacing'></div>
</div>



<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>USE BJJ 101 AS A STEPPING STONE TO OUR MAIN PROGRAM.</h3>
      <img src='images/@stock/msn-work-1.jpg' />
      <div class='spacing'></div>
      <p>At the conclusion of the 8 week class, students are invited to attend the all-level classes. This is a great opportunity to meet more senior students and see how they train, conduct themselves in class and to observe more advanced techniques.</p>
      <p>Additionally, graduates are offered a special rate on a single private lesson.</p>
    <div class='three spacing'></div>
    </div>

    <div class='medium-6 columns'>
      <h3>TRY BJJ 101 WITH A FRIEND.</h3>
      <img src='images/@stock/msn-work-1.jpg' />
      <div class='spacing'></div>
      <p>Brazilian Jiu-Jitsu is a just as much of a team sport as – well – any team sport. You’ll come to rely on your training partners and look after their well-being just like you look after your own. And you will definitely make some new, great friends. But we can see why BJJ 101 is such a great program to start training Brazilian Jiu-Jitsu with a friend. If you’d like to enroll in BJJ 101 with a friend, let us know and ask about discounted rates for small groups.</p>
    <div class='three spacing'></div>
    </div>
  </div>
</div>

<div class='full no-padding' style='background: #f5f5f5'>
  <div class='two spacing'></div>
  <div class="mod callCallToAction">
    <div class="row">
      <div class="medium-9 large-9 columns">IF YOUR READY TO GIVE BRAZILIAN JIU-JITSU A TRY, SEND US A MESSAGE, GIVE US A CALL, OR REGISTER HERE.
      There’s really nothing to lose, give the program a try. Course space is limited and available on a first come basis. WE’D LOVE TO SHOW YOU A WHY WE THINK BRAZILIAN JIU-JITSU MIGHT JUST CHANGE YOUR LIFE.</div>

<div class="medium-3 large-3 columns"><a href="#" class="button">Register Now</a></div>
    </div>
  </div>
</div>

<div class='full parallax'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our students and visitors say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>
