---
layout: default
title: Brazilian Jiu Jitsu
section_id: brazilian-jiu-jitsu
testimonials:
  - quote: Aaron's pedagogical approach is effective across the full spectrum of training experience and natural ability
    author: name 1
  - quote: word
    author: name 2
  - quote: words
    author: name 3
---

<div class='full parallax' style='background-image: url(images/jiujitsu-main.jpg); color: #fff;'>
  <div class='row'>
    <div class='twelve columns'>
      {% include section-header.html title="JIU JITSU" color="#fff" tagline="" class="big" %}
    </div>
  </div>
  <div class='four spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-6 columns'>
      <h3>Brazilian Jiu Jitsu</h3>
      <p>Brazilian Jiu-Jitsu is at the heart of what we do at Renzo Gracie Academy Portland. Classes are held in both Gi and no gi, and are taught with a “feet to floor” mentality – that is, instruction and sparring sessions spend equal time in a standing position and on the ground.  All students will become proficient in takedowns, both gi and no gi.  As a result of this , Renzo Gracie Portland draws elements from many disciplines not least of which are Judo and Wrestling.</p>

      <p>
        Aaron Milam heads the Brazilian Jiu-Jitsu program at Renzo Gracie Portland.  He is a black belt from the respected Renzo Gracie Academy New York, he has amassed tens of thousands of hours of mat time; the results of his dedication and focus are evident not only in his own grappling ability but also in the manner by which he teaches the “Gentle Arts” daily.
      </p>

      <h3>WHAT IS BRAZILIAN JIU-JITSU</h3>
      <p>Brazilian Jiu-Jitsu has evolved significantly since Maeda introduced Japanese style Jiu-Jitsu to the Gracie family in Brazil nearly 100 years ago. Since then the art and practice of Brazilian Jiu-Jitsu has adapted and changed to suit the environment in which it is practiced;  From Mixed Martial Arts settings to Collegiate-Style Competition, Brazilian Jiu-Jitsu means a variety of things to the body of practitioners in the United States and elsewhere in the world.</p>
    </div>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/about-1.jpg" />
      <div class='three spacing'></div>
    </div>
  </div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='medium-12 columns'>
      <p>John Danaher – Head Instructor at Renzo Gracie Academy – offers a refreshingly concise and complete definition of Brazilian Jiu-Jitsu:</p>
      <blockquote>
        <p>
        Brazilian Jiu-Jitsu is a grappling-based martial art whose central theme is the skill of controlling a resisting opponent in ways that force him to submit. Due to the fact that control is generally easier on the ground than in a standing position, much of the technique of Brazilian Jiu-Jitsu is centered round the skill of taking an opponent down to the ground and wrestling for dominant control positions from where the opponent can be rendered harmless.
      </p>
      <p>
      To control and overcome greater size, strength and aggression with lesser size and strength is the keynote of the sport. This is done by utilizing superior leverage, grip and position upon your opponent. Students of the sport gain a deep understanding of the workings and limits of the human body. This knowledge can be used to subdue and control an opponent with whatever level of severity the student chooses. The path to this knowledge is physically and mentally demanding. Students benefit from greatly increased physical fitness, problem-solving ability, self-knowledge of their body and mind and the many social benefits of working within a large group of like-minded fellow students as you learn and have fun together.
    </p>
    <p>
      Many students first learn about Jiu-Jitsu through the great popularity of mixed martial arts (MMA) competition, where Brazilian Jiu-Jitsu technique is very prominent. Indeed, the beginnings of the contemporary MMA competition were largely tied up with proving the combat-efficiency of Brazilian Jiu-Jitsu. The practice of Brazilian Jiu-Jitsu as a sport, however, is strongly separated from MMA. Daily classes do not feature kicking or punching. The focus is on safe grappling technique that can be done on a daily basis with no more fear of injury than any other contact sport.
    </p>
    <p>
      Classes at the academy are taught all day six days a week. They feature a strength and endurance building warm-up, followed by demonstration and practice of techniques after which students engage in live wrestling with other students of their own level. It is a truly demanding workout with a strongly cerebral aspect and a sense of purpose and skill that will truly capture your imagination. Come down to the academy. Come take a look at a class or better yet, take one of the introduction classes. We are confident that Jiu-Jitsu will become one of the most cherished and enjoyable aspects of your life. It will give you a confidence, knowledge and body-dexterity and fitness that few people will ever know.
    </p>
        <cite>John Danaher</cite>
      </blockquote>
      <p>
      At Renzo Gracie Portland, we teach Brazilian Jiu-Jitsu – in all it’s variant forms – in accordance with John Danaher’s definition every day. We encourage you to come down and see for yourself why Brazilian Jiu-Jitsu has revolutionized Martial Arts internationally.
    </p>
    </div>
  </div>
</div>

<div class='full'>
  <div class='row'>
    <div class='medium-12 columns'><h3>RENZO GRACIE PORTLAND PROGRAMS</h3></div>
    <div class='small-12 medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/bjj101-section-450.jpg" />
      <div class='two spacing'></div>
      <h4>BJJ 101 (FUNDAMENTALS 1)</h4>
      <p>BJJ 101 is the ideal introduction course for persons interested in Brazilian Jiu-Jitsu who are brand new to the discipline or who are returning to the Brazilian Jiu-Jitsu after an extended hiatus. BJJ 101 focuses on familiarizing the student with elementary positions, terminology, conventions and etiquette of practice in order to prepare the student to join the Fundamentals 2 and Intermediate classes.  We begin a new class at the beginning of every month.</p>
    </div>
    <div class='small-12 medium-6 columns'>
      <img class="fadeinright" alt="" src="images/bjj102-section-450.jpg" />
      <div class='two spacing'></div>
      <h4>FUNDAMENTALS 2</h4>
      <p>The Fundamentals 2 class picks up where the BJJ 101 class leaves off, expounding upon ideas presented in the 101 class, both on the feet and on the ground. .  This class explores a single topic or position each month moving from basics to more advanced ideas at the months end.  We stress control, iron clad defensive principles, and methodical submission skills.  Classes incorporate flow training and goal oriented sparring from position.</p>
    </div>
    <div class='small-12 medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/fr-programs.jpg" />
      <div class='two spacing'></div>
      <h4>KIDS BJJ</h4>
      <p>The Kids BJJ program at Renzo Gracie Academy emphasizes discipline, hard work, and respect. In addition to keeping the classes engaging and fun for the children, our instructors also make sure that the students learn the basics of self-defense while developing their physical fitness levels. All the classes incorporate drills, games, exercises, and live training in a controlled environment. The work ethic, discipline, and confidence learned in the academy will benefit your child both academically and socially.</p>
    </div>
    <div class='small-12 medium-6 columns'>
      <img class="fadeinright" alt="" src="images/fr-programs.jpg" />
      <div class='two spacing'></div>
      <h4>INTERMEDIATE/ADVANCED BJJ</h4>
      <p>Where the Fundamentals 1 and 2 programs focus on developing students vocabulary and technique, the advanced class focuses on personal application of that technique.  This class embraces the feet to floor philosophy; techniques are taught in sequence, starting on the feet we work the transitions from your initial setup to takedown, control on the ground, and transition to your submission.  At this level students also start to show preference for one set of techniques over another, so we spend quite a bit of time refining their individual styles and Tokui Waza.  Class consists of technique drills, flow training, and live sparring rounds.</p>
    </div>
  </div>
</div>

<div class='full parallax' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <i class='fa fa-quote-left' style='color: #F9CE06; font-size: 36px;'></i>
      </p>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="What our students and visitors say" %}
      <div class='spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='large-12 columns'>
      <div class='mod modTestimonials'>
        <div class='row'>
          <div class='small-12 columns'>
            <div class='items centered-text'>
              {% for testimonial in page.testimonials %}
                <div class='item'>
                  <p class='quote'>"{{testimonial.quote}}"</p>
                  <p class='author'>- {{testimonial.author}}</p>
                  <div class='two spacing'></div>
                </div>
              {% endfor %}
            </div>
          </div>
          <div class='spacing'></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include our-customers.html %}
