---
layout: default
section_id: home
slides:
  - bg: images/fr-sl-101.jpg
    small_title:
      klass: bottom-to-top
      text: JIU JITSU 101
    title:
      klass: bottom-to-top
      text: Next session starts Monday July 4
    buttons:
      klass: bottom-to-top
      items:
        - text: Sign Up Today
          link_to: /bjj-101.html
  - bg: images/fr-sl-jj.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: A Complete Approach To Grappling
    title:
      klass: bottom-to-top
      text: Feet to floor
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: See All Our Programs
          link_to: #
        - text: Sign Up Now
          link_to: #
  - bg: images/fr-sl-jj.jpg
    klass: centered-text
    small_title:
      klass: bottom-to-top
      text: A Complete Approach To Grappling
    title:
      klass: bottom-to-top
      text: 50% GI 50% NOGI
    buttons:
      klass: bottom-to-top
      items:
        - klass: boxed
          text: See All Our Programs
          link_to: #
        - text: Sign Up Now
          link_to: #
  - bg: images/fr-sl-muay-thai.jpg
    small_title:
      klass: bottom-to-top
      text:
    title:
      klass: bottom-to-top
      text: Muay Thai
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: /muay-thai.html
  - bg: images/fr-sl-kids.jpg
    small_title:
      klass: bottom-to-top
      text:
    title:
      klass: bottom-to-top
      text: Kids Program
    buttons:
      klass: bottom-to-top
      items:
        - text: Learn More
          link_to: /kids.html

services:
  - icon:
    title: Jiu Jitsu 101
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon:
    title: Jiu Jitsu
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon:
    title: Kids Jiu Jitsu
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.
  - icon:
    title: Muay Thai
    desc: Acusamus laborum totam omnis inventore et error aut et eos aut. fuga mollitia vitae id enim omnis perspiciatis. modi maxime eos.

milestones:
  - icon: folder-open
    from: 0
    to: 69
    title: Projects Completed
  - icon: coffee
    from: 0
    to: 726
    title: Cups of coffee offered
  - icon: thumbs-up
    from: 0
    to: 59
    title: Happy clients
  - icon: file-text
    from: 0
    to: 21
    title: Articles Published

---


<div class='mod modDefaultSlider'>
  <div class='sequence' data-autostop='on' data-timeout='0'>
    <a class='sequence-prev' href='javascript:void(0);'>
      <span></span>
    </a>
    <a class='sequence-next' href='javascript:void(0);'>
      <span></span>
    </a>
    <ul class='sequence-pagination'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign class = 'current' %}
        {% else %}
          {% assign class = '' %}
        {% endif %}
        <li class="{{class}}"></li>
      {% endfor %}
    </ul>
    <ul class='sequence-canvas'>
      {% for slide in page.slides %}
        {% if forloop.first %}
          {% assign style = 'static' %}
        {% else %}
          {% assign style = '' %}
        {% endif %}

        <li class='frame {{style}} {{ slide.klass }}'>
          <div class='bg' style='background-image: url({{ slide.bg}});'></div>
          <div class='small-title {{ slide.small_title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.small_title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='title {{ slide.title.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <h2>{{ slide.title.text }}</h2>
              </div>
            </div>
          </div>
          <div class='buttons-wrapper {{ slide.buttons.klass }}'>
            <div class='row'>
              <div class='large-12 columns'>
                <div class='two spacing'></div>
                {% for button in slide.buttons.items %}
                  <a class='button {{ button.klass }}' href='{{ button.link_to }}'>{{ button.text }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>

<div class="three spacing"></div>

<div class="row">
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='WORLD CLASS TEAM, WORLD CLASS INSTRUCTION' desc='Aaron Milam has devoted his life to the study of martial arts. A black belt unde Rey Diogo and John Danaher. Aaron opened RGA PDX in 2013 attracting some of the most talented athletes and instructors in Oregon.' icon_class='' delay='0' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='SAFE ENVIRONMENT AND COMMUNITY' desc='Good training is smart training. Our primary concern is to have respect for ourselves and our training partners, that is how we all get better together. Your training partners will quickly become some of your best friends. Daily training develops a trust and camaraderie that is rare to find elsewhere. We look out for each other, on and off the mat.' icon_class='' delay='200' shape_class='icon-text-circle' %}
  </div>
  <div class="medium-4 large-4 columns">
    {% include icon-text.html title='FITNESS' desc='Why go to the gym when you can get a much better workout, learn a new skill, and make new friends? Our classes warm ups , calisthenics, drilling, and sparring will get you into the best shape you have ever been in, in no time. If you need more, we have a  dedicated strength and conditioning facility.' icon_class='' delay='400' shape_class='icon-text-circle' %}
  </div>
</div>

<div class='full no-padding' style='background: #555'>
  <div class='two spacing'></div>
  <div class='mod modCallToAction'>
    <div class='row'>
      <div class='medium-9 large-9 columns'>
        <p style="color:#fff;">SIGN UP FOR A FREE TRIAL CLASS TODAY</p>
      </div>
      <div class='medium-3 large-3 columns'>
        <a class='button' href='#'>Learn more</a>
      </div>
    </div>
  </div>
  <div class='spacing'></div>
</div>

<div class="spacing"></div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our Programs" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='three spacing'></div>
    </div>
  </div>
  <div class='row'>
    <div class='medium-6 columns'>
      <img class="fadeinleft" alt="" src="images/fr-programs.jpg" />
      <div class='three spacing'></div>
    </div>
    <div class='medium-6 columns'>
      {% for service in page.services %}
        <div class='fadein mod modIconText' data-delay='{{ 300 | times:forloop.index0 }}'>
          <div class='icon-text-simple'>
            <i class='fa fa-{{service.icon}}'></i>
            <h3>{{service.title}}</h3>
            <p>{{service.desc}}</p>
          </div>
          <div class='two spacing'></div>
        </div>
      {% endfor %}
    </div>
  </div>
  <div class='spacing'></div>
</div>


<div class='full parallax' style='background-image: url(images/@stock/milestone-bg.jpg); color: #fff;'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Parallax effect" color="#fff" %}
      <div class='spacing'></div>
      <p class='centered-text' style='color: #ccc;'>
        Dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for milestone in page.milestones %}
      <div class='medium-3 large-3 columns'>
        <div class='mod modMilestone'>
          <i class='fa fa-{{milestone.icon}}'></i>
          <strong data-from='{{milestone.from}}' data-to='{{milestone.to}}'>&nbsp;</strong>
          <span>{{milestone.title}}</span>
          <div class='four spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class='two spacing'></div>
</div>

<div class='full'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our team" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>
  <div class='row'>
    {% for member in site.data.members %}
      <div class='small-6 medium-3 large-3 columns'>
        <div class='mod modTeamMember'>
          <div class='member'>
            <img class="avatar" alt="" src="{{ member.avatar }}" />
            <div class='overlay'>
              <div class='intro'>
                <h3>{{member.name}}</h3>
                <p>{{member.position}}</p>
                <ul class='socials'>
                  {% for social in member.socials %}
                    <li>
                      <a href='{{social.link}}'>
                        <i class='fa fa-{{social.icon}}'></i>
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class='two spacing'></div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<div class='full' style='background: #f5f5f5'>
  <div class='row'>
    <div class='large-12 columns'>
      {% include section-header.html title="Our recent posts" %}
      <div class='spacing'></div>
      <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat consectetuer sit amet magna adipiscing.
      </p>
      <div class='two spacing'></div>
    </div>
  </div>

  <div class='row'>
    {% for post in site.posts %}
      {% if forloop.index > 3 %}
        {% break %}
      {% endif %}

      <div class='large-4 medium-4 columns'>
        <div class='mod modBlogPost'>
          {% for image in post.images %}
            {% unless forloop.first %}
              {% break %}
            {% endunless %}
            <a href="{{post.url}}"><img alt="" src="{{image}}" /></a>
          {% endfor %}
          <div class='content'>
            <p class='date'>{{post.date | date: "%B %d, %Y" }}</p>
            <h4><a href="#">{{post.title}}</a></h4>
            <p>{{post.excerpt}}</p>
            <!--
              <div class="tags">
                {% for cat in post.categories %}
                  <a href="#">{{cat | capitalize}}</a>
                  {% unless forloop.last %}
                    ,
                  {% endunless %}
                {% endfor %}
              </div>
            -->
          </div>
        </div>
      </div>

    {% endfor %}

  </div>


  <div class='two spacing'></div>
  <div class='row'>
    <div class='large-12 columns'>
      <p class='centered-text'>
        <a class='button' href='blog.html'>See more posts</a>
      </p>
    </div>
  </div>
  <div class='two spacing'></div>

</div>
